.label {
color: white;
padding: 4px;
}
.Design {background-color: #61bd4f;}
.Testing {background-color: #ff78cb;}
.Constraint {background-color: #eb5a46;}
.Practice {background-color: #c377e0;}
.Architecture { background-color: #ff9f1a;}