/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 4rem 0;
}

section h1 {
  padding-bottom: 3rem;
  text-align: center;
}

.ctaBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-cta-background-color);
}

.proposition {
  text-align: center;
  color: var(--ifm-color-content-inverse);
  background-color: var(--ifm-proposition-background-color);
}

.proposition img {
  width: 80%;
  border-radius: 5px;
}
